#Wraper{
    width: 100%;
    outline:  none;
}
#Page{
    width: 100%;
    outline:  none;
}
#slider-img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    min-height: 0;
    min-width: 0;
}