/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/



/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/
* {
    box-sizing: border-box;
  }
  /*------------------------------------------------------------------
    Login FILES
-------------------------------------------------------------------*/
#h1-style{
    font-size: 1.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100px;
    text-align: left;
    color: rgb(128, 127, 127);
}
  .loginbackground {
    display: flex;
    min-height: 100vh;
    font-weight: 400;
    font-family: sans-serif;
    background: #12c2e9;  
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
     
    
  }
  
  body, html, .App, #root, .outer {
    width: 100%;
    height: 100%;
  }
  
  .navbar-brand{
    width:100%;
    height: auto;
    max-width: 100px;
    margin-left: 50px;
  }
  .outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-top: 120px;
  }
  
  .inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  
  .outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
  .outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  .custom-control-label {
    font-weight: 400;
  }
  
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    color: #7f7d7d;
  }
  
  .forgot-password a {
    color: #167bff;
  }
  .craete-account,
  .craete-account a {
    text-align: left;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
  }
  .craete-account a {
    color: #167bff;
  }
body {
    color: #666666;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.80857;
}

#login-btn{
    color: #fff;
    background-color: #d65106;
    margin-left: 55px;
    height: auto;
    max-width: 250px;
    

}
#login-btn:hover{
    background-color: #1f1f1f;
}
a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

ul, li, ol{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
button:focus{
	outline: none;
}

.form-control::-moz-placeholder {
    color: #2a2a2a;
    opacity: 1;
}

/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/
.top-navbar{
	position: relative;
	/* z-index: 10; */
}

.top-navbar .navbar{
	padding: 15px 0px;
	position: fixed;
	width: 100%;
	border-radius: 0px 0px 100px 100px;
	transition: height .3s ease-out,  .3s ease-out, box-shadow .3s ease-out;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
	z-index: 100;
}

.top-navbar .navbar-light .navbar-nav .nav-link{
	color: #010101;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 4px;
	text-transform: uppercase;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover{
	background: #d65106;
	color: #ffffff;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link{
	background: #d65106;
	color: #ffffff;
	border-radius: 4px;
}
.navbar-light .navbar-toggler:hover{
	background: #d65106;
}
#Heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.375rem ;
    line-height: 1.18519;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
}
.current{
    background-color: #d65106;
}
/*------------------------------------------------------------------
    Slider
-------------------------------------------------------------------*/
#sliderheading{
    position: relative;
    top: -800px;
    left: 200px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 3.375rem ;
    line-height: 1.18519;
    font-weight: 300;
    width: 45%;
    color: white;
    z-index: 9;
    text-align: left;
    
  }
  .gtco-container {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
  }
#paragraph{
    font-size: 1.375rem ;
    line-height: 1.08519;
    font-weight: 200;
    text-align: left;
}
.carousel-inner{
     height: 940px;
 }

 .item, img{
     height: 100% !important;
     width:  100% !important;
     border: 1px solid red;
 }
.cover-slides{
	height: 100vh;
}
#slider-btn{
    background: #d65106;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    font-size: 10px;
    display: block;
    color: #fff;
	border-radius: 5px;
	line-height: 63px;
	text-align: center;
    transition: all .3s ease-in-out;
}
@media only screen and (max-width: 800px) {
    #slider-btn{
     top: 190px;
    }
 }
.slides-navigation a {
	background: #d65106;
    position: absolute;
    height: 50px;
    width: 50px;
    font-size: 20px;
    display: block;
    color: #fff;
	border-radius: 4px;
	line-height: 63px;
	text-align: center;
    transition: all .3s ease-in-out;
}

.slides-navigation a i{
	font-size: 40px;
}
.slides-navigation a:hover {
	background: #010101;
}
.cover-slides .container{
	height: 100%;
	position: relative;
	z-index: 2;
}
.cover-slides .container > .row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.cover-slides .container > .row {
    height: 100%;
}

.btn{
	text-transform: uppercase;
	padding: 19px 36px;
}
.btn{
	display: inline-block;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 2px solid transparent;
	padding: 12px 30px;
	font-size: 16px;
	line-height: 1.5;
	border-radius: .1875rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-outline-new-white {
    color: #fff;
    background-color: #d65106;
    background-image: none;
    border-color: #d65106;
}
.btn-outline-new-white:hover {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}

.overlay-background {
    background: #333;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
	opacity: 0.5;
}

.cover-slides h1{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 64px;
	color: #fff;
}
.cover-slides p{
	font-size: 18px;
	color: #fff;
}
.slides-pagination a{
	border: 2px solid #ffffff;
}
.slides-pagination a.current{
	background: #d65106;
	border: 2px solid #d65106;
}

/*------------------------------------------------------------------
    About
-------------------------------------------------------------------*/

.about-section-box{
	padding: 70px 0px;
	background: #ffffff url(../images/about-bg.jpg) no-repeat bottom center;
	background-size: cover;
}
.about-section-box .img-fluid{
	box-shadow: 20px 20px 0px #d65106;
}
.img-fluid{
    max-height: 300px;
}
.inner-column{
	text-align: left;
}
.inner-column h1{
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	color: #010101;
	font-weight: 500;
}
.inner-column h1 span{
	color: #d65106;
}
.inner-column h4{
	font-size: 16px;
	font-weight: 500;
}
.inner-column p{
	font-size: 18px;
	color: #222222;
}
.inner-column .btn-outline-new-white{
	color: #fff;
}
.inner-column .btn-outline-new-white:hover{
	color: #ffffff;
}

/*------------------------------------------------------------------
    QT
-------------------------------------------------------------------*/


.qt-background{
	background: url(../images/qt-bg.jpg) no-repeat;
	background-size: cover;
	padding: 100px 0;
	background-attachment: fixed;
	background-position: center center;
	position: relative;
}
.qt-background p {
    font-size: 35px;
    font-weight: 300;
    line-height: 44px;
    color: #fff;
	font-family: 'Rubik', sans-serif;
	margin-bottom: 20px;
}

.qt-background span {
    color: #fff;
    font-size: 28px;  
	font-weight: 600;	
}

/*------------------------------------------------------------------
    Menu
-------------------------------------------------------------------*/

.menu-box{
	padding: 70px 0px;
}

.heading-title{
	margin-bottom: 50px;
}
.heading-title h2{
	color: #010101;
	font-size: 28px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}
.heading-title p{
	font-size: 18px;
	font-weight: 200;
	margin: 0px;
}


.inner-menu-box .nav-pills .nav-link.active{
	background: #d65106;
}
.inner-menu-box .nav-pills .nav-link{
	font-size: 18px;
}
.inner-menu-box .nav-pills .nav-link:hover{
	background: #d65106;
	color: #ffffff;
}

.gallery-single{
	margin-bottom: 30px;
}

.gallery-single {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.why-text {
    position: absolute;
    left: 0;
    bottom: -100%;
    right: 0;
    height: 100%;
    background: rgba(207, 166, 113, 0.9);
    padding: 12px 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.why-text h4{
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
}
.why-text p{
	color: #ffffff;
	font-size: 13px;
	border-bottom: 1px dashed #010101;
	margin: 0px;
	padding-bottom: 15px;
	margin-top: 0px;
	margin-bottom: 15px;
}
.why-text h5{
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
}

.gallery-single:hover .why-text{
	bottom: 0px;
}


/*------------------------------------------------------------------
    Gallery
-------------------------------------------------------------------*/

.gallery-box{
	padding: 70px 0px;
}
.tz-gallery{
	margin-top: 30px;
}
.tz-gallery .lightbox img {
    width: 100%;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.tz-gallery .lightbox{
	border: 3px solid #d65106;
	display: inline-block;
	margin-bottom: 30px;
}




/*------------------------------------------------------------------
    Footer
-------------------------------------------------------------------*/
#footer-logo{
    max-width: 100px;
    max-height: 100px;
}

footer {
    height: 750px;
    padding: 90px 0 80px !important;
    color: #999;
    background-color: #393939;

    
}

.footer .widget-title {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.footer .widget-title small {
    color: #999;
    display: block;
    padding: 0 58px;
    text-transform: uppercase;
}

.footer .widget-title h3 {
    color: #fff;
    font-weight: 500;
    font-size: 21px;
    padding: 0;
    margin: 0;
    line-height: 1 !important;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links a {
    color: #999;
	display: block;
}

.footer-links.hov a span{
	opacity: 0;
	transition: all 1s ease-in-out;
}

.footer-links.hov a:hover{
	padding-left: 15px;
}
.footer-links.hov a:hover span{
	opacity: 1;
	padding-left: 10px;
	transition: all 1s ease-in-out;
}

.footer-links a:hover,
.footer a:hover {
    color: #fd6802 !important;
}

.footer-links li {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
}

.twitter-widget li {
    margin-bottom: 0;
    border: 0 !important;
}

.twitter-widget li i {
    border-right: 0 !important;
    margin-right: 0;
}

.footer-links li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}

.footer-links i {
    display: inline-block;
    width: 25px;
    margin-right: 10px;
    border-right: 1px dashed rgba(255, 255, 255, 0.1);
}

.copyrights {
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    background-color: #1f1f1f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 60px;
    overflow: hidden;
}


/* Footer left */

.footer-distributed .footer-left {
    float: none;
	text-align: center;
}

.footer-distributed .footer-links {
    margin: 0 0 10px;
    text-transform: uppercase;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.footer-distributed .footer-company-name {
    font-weight: 300;
    margin: 0 10px;
    color: #666;
    padding: 0;
}

.footer-distributed .footer-company-name a{
	color: #ffffff;
}

.footer-distributed .footer-company-name a:hover{
	color: #fd6802;
}




.footer-distributed .footer-right {
    float: none;
}

.footer-distributed .widget-title p{
	padding-top: 40px;
}

.footer-distributed form {
    position: relative;
}

.footer-distributed form input {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #181818;
    border: none;
    font: inherit;
    font-size: 15px;
    font-weight: normal;
    color: #999;
    width: 100%;
    padding: 18px 50px 18px 18px;
}

.footer-distributed form input:focus {
    outline: none;
}



.footer-distributed form input::-webkit-input-placeholder {
    color: #999;
}

.footer-distributed form input::-moz-placeholder {
    opacity: 1;
    color: #999;
}

.footer-distributed form input:-ms-input-placeholder {
    color: #999;
}



.footer-distributed form i {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 16px;
    right: 18px;
    color: #999;
    font-size: 18px;
    margin-top: 6px;
}


.verybottom {
	width:100%;
	background:#212121;
	color:#fff;
	margin-top: 64px;
	padding:40px 0 0 0;
	padding:30px 0 10px 0;
}
.aligncenter{
	text-align:center;
}

.aligncenter i {
	text-align:center;
}

.aligncenter img, img.aligncenter{
	margin-bottom:20px;
}
.social-links {
	list-style:none;
	margin:0;
	margin-bottom:20px;
}
.social-links li {
	display:inline;
    
}
.social-links li a:hover {
	text-decoration:none;
}
@media only screen and (min-width: 400px){
    .social-links li{ margin-left: 20px; }
}
.icon-circled {
    text-align: center !important;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    text-shadow:none;
    cursor: pointer;
    background-color: #444;
}
.icon-64 {
	padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    line-height: 40px;
}
.icon-circled:hover {
    color: #fff;
    background-color: #d65106;
    text-shadow: none;
    box-shadow: 0 0 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.2);
}

/*------------------------------------------------------------------
    Latest Blog
-------------------------------------------------------------------*/



.latest-blog{
    padding: 70px 0px;
    background: #f5f5f5;
}
.blog-box{
    -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    background: #ffffff;
    margin-bottom: 30px;
}
.blog-content{
    position: relative;
}
.title-blog{
    padding: 40px 30px 40px 30px;
}
.title-blog h3{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}
.title-blog p{
    margin: 0px;
}
.option-blog {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
}
.option-blog li{
    display: inline-block;
    margin-left: 10px;
}
.option-blog li a{
    background: #000000;
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
}


.team3 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
  }
  
  .team3 h1,
  .team3 h2,
  .team3 h3,
  .team3 h4,
  .team3 h5,
  .team3 h6 {
    color: #3e4555;
  }
  
  .team3 .font-weight-medium {
    font-weight: 500;
  }
  
  .team3 .bg-light {
    background-color: #f4f8fa !important;
  }
  
  .team3 .subtitle {
    color: #8d97ad;
    line-height: 24px;
    font-size: 13px;
  }
  
  .team3 ul {
    margin-top: 30px;
  }
  
  .team3 h5 {
    line-height: 22px;
    font-size: 18px;
  }
  
  .team3 ul li a {
    color: #8d97ad;
    padding-right: 15px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  
  .team3 ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
      color: #316ce8;
  }
  
  .team3 .title {
    margin: 30px 0 0 0;
  }
  
  .team3 .subtitle {
    margin: 0 0 20px 0;
    font-size: 13px;
  }



@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}


.reservation-box{
	padding: 70px 0px;
}

.reservation-box h3{
	padding: 0px 15px;
	margin-bottom: 20px;
	font-weight: 600;
}

.help-block ul li{
	color: red;
}

.form-control[readonly]{
	background-color: #ffffff;
}

.form-control{
	border-radius: 0px;
	min-height: 50px;
}
.form-control:focus{
	border: 1px solid #d65106;
	box-shadow: none;
}

.form-group .picker__input.picker__input--active{
	border-color: #d65106;
}

.submit-button{
	margin-top: 20px;
}
.btn.btn-common{
	color: #d65106;
	background-color: transparent;
	background-image: none;
	border-color: #d65106;
}
.btn.btn-common:hover{
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
}
.blog-box{
	padding: 70px 0px;
}
.blog-box-inner{
	position: relative;
	margin-bottom: 30px;
}

.blog-box-inner .blog-img-box{
	position: relative;
	display: block;
}

.blog-box-inner .blog-detail{
	position: absolute;
	top: 0;
	background: #fff;
	padding: 30px 25px;
	border: 1px solid #ddd;
	transition-duration: .5s;
	height: 100%;
}

.blog-detail h4 {
    font-size: 18px;
    font-weight: 500;
    color: #222222;
}

.blog-detail ul li {
    display: inline-block;
    padding: 0px 5px;
}
.blog-detail ul li span{
	color: #d65106;
	cursor: pointer;
}
.blog-detail ul li span:hover{
	color: #010101;
}

.blog-detail ul li:first-child {
    padding-left: 0px;
}

.blog-detail p {
    padding: 10px 0px 0 0;
	margin: 0px;
	font-size: 13px;
}

.blog-detail a{
	color: #ffffff;
	margin-top: 20px;
}

.blog-box-inner .blog-detail:hover{
	background: rgba(255, 255, 255, .9);
}

.blog-inner-box {
    position: relative;
    margin: 0px 10px;
    margin-bottom: 30px;
}
.side-blog-img {
    box-shadow: 15px 15px 0px 0px rgba(214, 81, 6, 0.4);
    -webkit-transition: all 1s ease 0.01s;
    transition: all 1s ease 0.01s;
    position: relative;
}

.date-blog-up {
    position: absolute;
    right: 0px;
    top: 0px;
    background: #d65106;
    font-size: 18px;
    color: #ffffff;
    padding: 5px 15px 5px 5px;
}
.inner-blog-detail {
    background: #ffffff;
    position: relative;
    padding: 30px 20px;
}

.inner-blog-detail h3 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}
.inner-blog-detail ul li {
    display: inline-block;
    padding: 0px 5px;
    color: #222222;
}
.inner-blog-detail ul li span {
    color: #d65106;
}
.inner-blog-detail p {
    padding: 10px 0px;
}
.details-page blockquote {
    border-left: 5px solid #d65106;
}
.details-page blockquote {
    padding: 20px;
}
blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}
.blog-inner-details-line {
    margin: 20px 0px;
    clear: both;
    float: left;
    width: 100%;
}
.line-left-social h5 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
}
.line-left-social ul li {
    display: inline-block;
    margin-bottom: 5px;
}
.line-right-social ul li {
    display: inline-block;
}
.line-right-social ul li a {
    display: block;
    padding: 5px;
    background: #f5f5f5;
    border-radius: 6px;
    font-weight: 500;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}
.line-left-social ul li a {
    display: block;
    padding: 5px 10px;
    background: #f5f5f5;
    border-radius: 6px;
    font-weight: 400;
    font-size: 12px;
}
.line-left-social ul li a:hover {
    background: #d65106;
    color: #ffffff;
}
.line-right-social ul li a:hover {
    background: #d65106;
    color: #ffffff;
}
.line-right-social h5 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
}
.blog-comment-box {
    clear: both;
    margin: 20px 0px;
    float: left;
    width: 100%;
}
.blog-comment-box h3 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}
.comment-item {
    margin-bottom: 30px;
}
.comment-item-left {
    float: left;
    width: 90px;
    height: 90px;
}
.comment-item-left img {
    width: 100%;
    border-radius: 20px;
}
.comment-item-right {
    padding-left: 110px;
}
.comment-item-right a {
    font-size: 16px;
    font-weight: 500;
}
.des-l {
    display: inline-block;
    width: 100%;
}
.des-l p {
    font-size: 13px;
}
.comment-item-right a {
    font-size: 16px;
    font-weight: 500;
}
.right-btn-re {
    float: right;
    font-style: italic;
    text-align: right;
    font-size: 16px;
    padding: 5px 10px;
    background: #f5f5f5;
    border-radius: 6px;
}
.right-btn-re:hover {
    background: #d65106;
    color: #ffffff !important;
}
.comment-respond-box {
    clear: both;
}
.blog-comment-box .children {
    margin-left: 70px;
}
.comment-item {
    margin-bottom: 30px;
}
.comment-item-right i {
    padding-right: 10px;
}

.comment-form-respond input {
    min-height: 38px;
    border: 1px solid #010101;
    border-radius: 0px;
    padding: 10px;
}
.comment-form-respond textarea {
    border: 1px solid #010101;
    border-radius: 0px;
    padding: 10px;
    min-height: 110px;
}

.btn-submit{
	color: #d65106;
	background-color: transparent;
	background-image: none;
	border-color: #d65106;
}
.btn-submit:hover{
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
}

.right-side-blog h3 {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 20px;
}
.blog-search-form {
    position: relative;
    border-bottom: 1px solid #010101;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.blog-search-form input {
    width: 100%;
    min-height: 40px;
    border: 1px solid rgba(214, 81, 6, 0.4);
    padding: 5px 40px 5px 10px;
    font-size: 15px;
    color: #222222;
}
.blog-search-form .search-btn {
    position: absolute;
    right: 0px;
    background: none;
    border: none;
    font-size: 20px;
    min-height: 40px;
    padding: 0px 15px;
}

.right-side-blog h3 {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 20px;
}
.blog-categories {
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.blog-categories ul li {
    line-height: 14px;
    padding: 10px 0px;
    border-top: 1px solid #f5f5f5;
}
.blog-categories ul li a {
    display: inline-block;
    text-transform: capitalize;
    width: 100%;
}
.blog-categories ul li a:hover{
	color: #d65106;
}
.recent-box-blog {
    margin-bottom: 20px;
	display: inline-block;
}
.recent-img {
    float: left;
    position: relative;
}
.recent-img::before {
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d65106;
    opacity: 0.4;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.recent-box-blog:hover .recent-img::before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.recent-info {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
}
.recent-info ul li {
    display: inline-block;
    font-size: 11px;
    padding: 0px;
    color: #222222;
}
.recent-info h4 {
    font-size: 14px;
    padding: 0px;
    margin: 11px 0px;
    font-weight: 500;
}
.blog-tag-box ul li {
    display: inline-block;
    margin-bottom: 3px;
}
.blog-tag-box ul li a {
    padding: 5px 15px;
    display: block;
    background: #f5f5f5;
    color: #222222;
    border-radius: 6px;
}
.blog-tag-box ul li a:hover {
    color: #ffffff;
    background: #d65106;
}

.contact-box{
	padding: 70px 0px;
}

.map-full {
    width: 100%;
    height: 500px;
    border-radius: 0px;
    margin: 0px auto;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 52px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #d65106;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
	font-size: 30px;
}

/* -------------------------------------------------
                        Food
------------------------------------------------- */
#food-delivery-btn{
    margin-top: 10px;
    border-radius: 0px;
    border: 1px solid #d65106;
    margin-left: 50px;
    padding: 17px 20px;
    color: whitesmoke;
    background-color: #d65106;
    box-shadow: 0 0 0 0 #d65106;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.14286;
    cursor: pointer;
    transition: all 1900ms cubic-bezier(0.19, 1, 0.22, 1);
}
.delivery-fill{
    outline: 1px solid #d65106; 
}
#food-delivery-btn:hover{
  background-color: transparent;
  outline-color: rgba(177, 77, 77, 0);
  outline-offset: 20px ;
  color: #d65106;
}
#food-main-pageheading{
    margin-top: 300px;
    font-family:monospace;
    font-size: 2.5rem;
    text-align:center;
    color:rgb(92, 91, 91)
}
#food-main-image{
    max-width: 600px;
}
.wrapper {
    padding: 50px 50px;
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.right {float: right !important;}
/* Image zoom on hover + Overlay colour */
.parent {
    width: 45%;
    margin: 20px;
    height: 300px;
    /* border: 1px solid blue; */
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {background-image: url('../images/badshahimosque.jpg');}
.bg-two {background-image: url('../images/islamabad2.jpg');}
.bg-three {background-image: url('../images/Karachi.jpg');}
.bg-four {background-image: url('../images/gujranwla.jpg');}
.bg-five {background-image: url('../images/Rawalpindi.jpg');}
.bg-six {background-image: url('../images/bhawalpur.jpg');}
.bg-seven {background-image: url('../images/multan2.jpg');}
.bg-eight {background-image: url('../images/shakhupora3.jpg');}


.wrapper a{
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
    /* asmdalkmdadd;mm;dl;ledm;ldmllmw;m */
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#colunm-style{
    margin-left: 200px;
}
/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px}
    .wrapper {padding: 20px 20px;}
}

@media screen and (max-width: 960px) {
    #colunm-style {margin-left: 0;}
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-btn{
    width: 45%;
    max-width: 160px;
    color: #fff;
    margin: 20px 10px;
    text-align: left;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Lucida Grande", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}
.blu{
    background-color: #101010;
    transition: background-color 0.25s linear;
}
.app-btn:hover{
    background-color: #c06a38;
    color: white;
}

.app-btn i{
    width: 20%;
    text-align: center;
    font-size: 28px;
    margin-right: 7px;
}
.big-txt {
    font-size: 17px;
    text-transform: capitalize;
   }
#download-food-app{
    margin-top: 100px;
    position: relative;
    width: 100%;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    color: #fff;
    background: #d65106;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
   }
   
   #download-img{
       max-width: 600px;
       max-height: 600px;
       margin-top: -100px;
   }
   @media screen and (max-width: 960px) {
    #download-food-app {
        max-width:fit-content;
        max-height: fit-content;
        
    }
    #download-img{
        max-width: 300px;
        max-height: 300px;
        margin-top: 50px;
    }
}
/* -------------------------------------------------
                        Explaination page
------------------------------------------------- */
#explaination-page-heading{
    font-size: 1.5rem;
    font-weight: 300px;
    line-height: 1.18286;
}
#explaination-paragraph{
    font-size: 1.0rem;
    font-weight: 100px;
    line-height: 1.14286;
}
 
  


/* sdfdf */


















